version: '2'

services:
  graphdb:
    hostname: graphdb
    image: ontotext/graphdb:10.7.4
    environment:
      GDB_JAVA_OPTS: >-
        -Xmx2g 
        -Xms1g
        -Dgraphdb.home=/opt/graphdb/home
        -Dgraphdb.workbench.cors.enable=true
        -Dgraphdb.append.request.id.headers=true
        -Denable-context-index=true
        -Dentity-pool-implementation=transactional
        -Dhealth.max.query.time.seconds=500
        -Dreuse.vars.in.subselects=true
    ports:
      - ${GRAPHDB_PORT:-7200}:7200
    networks:
      - traefik-public
  template-skosmos:
    image: ${IMAGE:-ghcr.io/knaw-huc/sd-skosmos:v2.18.1-1.3.2}
    environment:
      - ADMIN_PASSWORD=$ADMIN_PASSWORD
      - SPARQL_ENDPOINT=http://graphdb:7200/repositories/skosmos
      - DATA=${DATA:-/data}
    networks:
      - traefik-public
    ports:
      - '8081:80' #adapt as needed on portainer
    labels:
      - "traefik.enable=true"
      - $TRAEFIK_PORT
      - $TRAEFIK_ENTRYPOINTS
      - $TRAEFIK_HOST
    volumes:
      - gl-skosmos:/data
      - skosmos-configuration:/config
    depends_on:
      - graphdb
      - template-skosmos-loader
  template-skosmos-loader:
    image: ghcr.io/knaw-huc/sd-skosmos-loader:v2.18.1-1.3.2
    environment:
      - ADMIN_PASSWORD=$ADMIN_PASSWORD
      - SPARQL_ENDPOINT=http://graphdb:7200/repositories/skosmos
      - DATA=${DATA:-/data}
    networks:
      - traefik-public
    volumes:
      - gl-skosmos:/data
      - skosmos-configuration:/config
    depends_on:
      - graphdb

networks:
  traefik-public:
    external: true

volumes:
  gl-skosmos:
    external: true
  skosmos-configuration:
    external: false
