version: '3.5'

services:
  graphdb:
    hostname: graphdb
    image: ontotext/graphdb:10.6.4
    environment:
      GDB_JAVA_OPTS: >-
        -Xmx2g 
        -Xms1g
        -Dgraphdb.home=/opt/graphdb/home
        -Dgraphdb.workbench.cors.enable=true
        -Dgraphdb.append.request.id.headers=true
        -Denable-context-index=true
        -Dentity-pool-implementation=transactional
        -Dhealth.max.query.time.seconds=500
        -Dreuse.vars.in.subselects=true
    ports:
      - ${GRAPHDB_PORT:-7200}:7200
      # volumes:
      # - /where-to-store-data:/opt/graphdb/home
      # - /where-to-store-data-for-import:/root/graphdb-import
  skosmos:
    container_name: 'skosmos-web'
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SPARQL_ENDPOINT=http://host.docker.internal:7200/repositories/skosmos
      - DATA=${DATA:-/data}
    networks:
      - skosmos
    ports:
      - '8080:80'
    volumes:
      - ./data:/data
      - skosmos-configuration:/config
    depends_on:
      - graphdb
      - vocab-loader
  vocab-loader:
    container_name: 'vocab-loader'
    build:
      context: .
      dockerfile: loader.Dockerfile
    environment:
      - SPARQL_ENDPOINT=http://host.docker.internal:7200/repositories/skosmos
      - DATA=${DATA:-/data}
    networks:
      - skosmos
    volumes:
      - ./data:/data
      - skosmos-configuration:/config
    depends_on:
      - graphdb

networks:
  skosmos:
    external: false

volumes:
  skosmos-configuration:
    external: false
